#body-wrapper {
    padding-top: 20px;
    top: 0;
    left: 0;
    width: 100vw;
    position: relative;
    z-index: 0;
}

.stripe {
    padding: 50px 0;
    width: 100%;
    background: #fff;
}

.gray-horizontal {
    background-color: #f6f6f6;
    background-image: radial-gradient(circle,#f6f6f6,#ececec);
    background-repeat: no-repeat;
}

.box-programming {
    background-image: url('http://geraldasher.com/img/programming.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 40px 20px 30px;
    margin: 0 0 24px 0;
    width: 100%;
    height: 250px;
    color: #fff;
}
.box-database {
    background-image: url('http://geraldasher.com/img/database.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 40px 20px 30px;
    margin: 0 0 24px 0;
    width: 100%;
    height: 250px;
    color: #fff;
}

.box-tools {
    background-image: url('http://geraldasher.com/img/tools.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 40px 20px 30px;
    margin: 0 0 24px 0;
    width: 100%;
    height: 250px;
    color: #fff;
}

.box-mobile {
    background-image: url('http://geraldasher.com/img/mobile.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 40px 40px 20px 30px;
    margin: 0 0 24px 0;
    width: 100%;
    height: 250px;
    color: #fff;
}



/* bootstrap overwrites */
.navbar-inverse {
    background-color: #000;
    border-color: transparent;
}
