<div id="home" class="stripe gray-horizontal">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-6">

                <h1>Gerald Asher</h1>
                <p class="lead">.Net Developer working with C#, VB, JavaScript, AngularJS, Jquery, Ajax, JSON, XML, WebForms, MVC, SQL Server, MySQL, Photoshop, CSS & Bootstrap</p>
                <p>
                    <a class="btn btn-primary" href="Gerry_Asher_Resume.pdf" target="_blank">Resume (pdf)</a>&nbsp;
                    <a class="btn btn-primary" href="Gerry_Asher_Resume.docx" target="_blank">Resume (word)</a>
                </p>

            </div>
            <div class="col-xs-12 col-lg-offset-3 col-lg-3">
                <h2>Mobile</h2>
                <p>562 882-1419</p>
            </div>
        </div>
    </div>
</div>

<div class="stripe">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-6 col-md-6">
                <div class="box box-programming">
                    <h3>C# & VB.Net</h3>
                    <p>Models, Views, Controllers, Shared Views, Code Behinds, ASP.Net, Windows Server & IIS. Setup & Maintain code in MVC Sites, Code Behinds, ASPX, cshtml, vbhtml</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="box box-mobile">
                    <h3>Mobile Development</h3>
                    <p>I work with PhoneGap / Cordova, Javascript and CSS to create hybrid apps. As far as mobile web development, I use Bootstrap for responsive website designs.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="box box-database">
                    <h3>Database Development</h3>
                    <p>I am comfortable with SQL Server Management Studio as well as MySQL. Designing and building databases from scratch as well as writing SQL & Linq statements.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="box box-tools">
                    <h3>Development Tools</h3>
                    <p>I work daily in Visual Studio 2013, Dreamweaver and Photoshop to build web pages and apps. I am well versed with Responsive CSS3 and Bootstrap as well.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="stripe gray-horizontal">
    <div class="container">
        <div class="row">
        
            <div class="col-sm-3 col-md-3">
                <i class="fa fa-suitcase fa-2x"></i>
                <h3>Scripting Languages</h3>
                <p>I work with AngularJS, Jquery and Ajax in web pages. I can build mobile apps using Phonegap. Get & Post JSON from the server as needed with Ajax calls to an API. I've also had some exposure to Meteor.js and Knockout.js.</p>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="fa fa-search fa-2x"></i>
                <h3>SEO SEM</h3>
                <p>SEO, Google Analytics, Adwords, Organic Search. I work on implementing on-page SEO maintenance as needed. I work within Webmaster Tools to monitor and maintain server issues such as 301s, 404s, 500s and issues as found. I setup and maintain sitemaps as needed. Work with SEO and PPC vendors to implement site needs.</p>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="fa fa-bar-chart fa-2x"></i>
                <h3>Marketing Automation</h3>
                <p>Well versed with Acton Software for the creation of email marketing campaigns. Uploading, Segmenting lists as needed per user interaction.</p>
            </div>
            <div class="col-sm-3 col-md-3">
                <i class="fa fa-google fa-2x"></i>
                <h3>Digital Marketing</h3>
                <p>I always try to keep an eye as to how the user/persona will be interacting with the website, landing pages and/or email campaigns. The need to place a higher value on user context is becoming an algorithm requirement.</p>
            </div>

        </div>
    </div>
</div>
