<div id="links" class="stripe">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-xs-10">

                <h2>{{pageTitle}}</h2>

                <ul class="list-group">

                    <!-- need to switch to ng2 http service -->
                    <li class="list-group-item animated slideInUp" *ngFor="#link of links">
                        <a href="{{link.linkUrl}}" target="_blank">
                            <span class="blog-title">{{link.description}}</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
